*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* landing */
.landing{
    padding: 1rem;
}

.landing__cta{
    display: block;
    text-decoration: none;
    background-color: #1e10e9;
    color: white;
    font-size: 1.4rem;
    padding: .7rem 2rem;
    cursor: pointer;
    margin: auto;
    width: 7rem;
    text-align: center;
}

/* dash board */
.dashBoard{
    padding: 1rem;
}

.dashBoard__title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.dashBoard__inputGroup{
    display: flex;
}

.dashBoard__textField{
    width: 80%;
    margin-bottom: 2rem;
    height: 1rem;
    font-size: 1rem
}

.dashBoard__checkboxArea{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
}

.dashBoard__checkboxGroup{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: antiquewhite;
}

.dashBoard__checkboxGroup input{
    padding: 1rem;
    background-color: brown;
}

.dashBoard__dropdown{
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.dashBoard__icon{
    font-size: 3rem;
}

.dashBoard__checkbox{
    position: absolute;
    background-color: #d4d4e0;
    border: 1px solid blue;
    padding: .3rem;
    right: 0;
    cursor: pointer;
}

/* track */
.track{
    padding: 1rem;
}

.track__exerciseTitle{
    margin-left: 1.4rem;
}

/* patient */
.patient{
    padding: 1rem;
    background-color: #bce5f5;
}

.patient__information{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

.patient__date{
    width: 14.5rem;
    padding: .5rem .2rem;
    margin-top: .5rem;
    font-size: 1rem;
}

/* nav */
.nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid forestgreen;
    padding: 0 .5rem;
}

.nav__list{
    display: flex;
    align-items: center;
    margin: 0;
}

.nav__item{
    list-style-type: none;
}

.nav__link{
    font-size: 1.2rem;
    padding: 1.1rem .5rem;
    text-decoration: none;
    cursor: pointer;
}

.nav__link:hover{
    background-color: #f7eeee;
}

.nav__logo{
    width: 10rem;
    margin: .3rem 0;
}

/* Utilties */
.blue{
    color: #465eca;
}

.green{
    color: #23ca47;
}

.orange{
    color: #e4ac14;
}

.purple{
    color: #bc23ca;
}

.hidden{
    display: none;
}

.mt-2{
    margin-top: 1.5rem;
}