*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* dash board */
.dashBoard{
    padding: 1rem;
}

.dashBoard__title{
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}

.dashBoard__inputGroup{
    display: flex;
}

.dashBoard__textField{
    width: 80%;
    margin-bottom: 2rem;
    height: 1rem;
    font-size: 1rem
}

.dashBoard__checkboxArea{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
}

.dashBoard__checkboxGroup{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: antiquewhite;
    
}

.dashBoard__checkboxGroup input{
    padding: 1rem;
    background-color: brown;
}

.dashBoard__dropdown{
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.dashBoard__icon{
    font-size: 3rem;
}

.dashBoard__checkbox{
    position: absolute;
    background-color: #d4d4e0;
    border: 1px solid blue;
    padding: .3rem;
    right: 0;
    cursor: pointer;
}

/* nav */
.nav{
    display: flex;
    justify-content: space-between;
    background-color: #eaf7ed;
    border-bottom: 1px solid forestgreen;
}

.nav__list{
    display: flex;
    align-items: center;
    margin: 0;
}

.nav__item{
    list-style-type: none;
}

.nav__link{
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.nav__link:hover{
    background-color: gainsboro;
}

/* Utilties */
.blue{
    color: #465eca;
}

.green{
    color: #23ca47;
}

.orange{
    color: #e4ac14;
}

.purple{
    color: #bc23ca;
}

.hidden{
    display: none;
}